@model IEnumerable<ExemploEF.Models.produto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Lista de Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo Produto</a>
</p>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.nome)</th>
            <th>@Html.DisplayNameFor(model => model.estoque)</th>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nome)</td>
                <td>@Html.DisplayFor(modelItem => item.estoque)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria.CategoriaId)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.produtoId" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.produtoId" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.produtoId" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>